@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 1536px) {
  section {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }
}

/*Cursor*/
.cursor {
  z-index: 101;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
  background-color: #d159f3;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  transition-property: width, height, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.cursor.active {
  background-color: transparent;
  border-color: #662c76;
  width: 1.4rem;
  height: 1.4rem;
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}

/*Loading Screen*/
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238 242 255);
  z-index: 100;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.loading-screen-text-wrapper {
  position: relative;
  font-size: 4.25rem;
  line-height: 4.5rem;
  font-weight: 900;
  color: #d159f3;
}

.loading-screen-text-fill {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.loading-screen-text {
  opacity: 0.4;
}

@media (max-width: 768px) {
  .loading-screen-text-wrapper {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/*Menu*/
.menu-btn {
  z-index: 99;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px;
  width: 44px;
  height: 44px;
  background: #d159f3;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.menu-btn div {
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 6px;
}

.menu-btn div:nth-child(1),
.menu-btn div:nth-child(3) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.menu-btn div.opened:nth-child(1) {
  transform: rotate(45deg) translateY(1px);
}

.menu-btn div.opened:nth-child(3) {
  transform: rotate(-45deg) translateY(-1px);
}

.menu-btn .middle {
  margin: 4px 0;
}

.menu-btn .middle.opened {
  display: none;
}

.menu-container {
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.menu-container.opened {
  width: 320px;
}

.menu-container .menu {
  padding: 2rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.menu-item {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  border: none;
  background: none;
  outline: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.menu-item:hover {
  color: #d159f3;
}

.menu-item .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #d159f3;
  margin-right: 0.5rem;
  display: inline-block;
  transform: translateY(-50%);
}

@media (max-width: 640px) {
  .menu-container.opened {
    width: 100vw;
  }

  .menu-item {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/*Home section*/
.home h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #d159f3;
}

.home h1 {
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: #fff;
}

.home .line {
  margin: 2rem 0;
  height: 3px;
  background-color: #d159f3;
}

.home p {
  color: #fff;
}

.home button {
  position: relative;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #d159f3;
  color: #fff;
  transition-property: color fill, stroke, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.home button:hover {
  background-color: #af4acb;
}

@media (max-width: 768px) {
  .home {
    margin-top: 2rem;
    flex-grow: 1;
  }

  .home h3 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .home h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home .line {
    margin: 1rem 0;
  }

  .home p {
    font-size: 0.8rem;
  }

  .home button {
    margin-top: 1rem;
    padding: 0.9rem 1.3rem;
    border-radius: 13px;
    font-size: 1.2rem;
  }
}

/*Skills section*/
.skills {
  padding: 2rem;
  width: 25%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.skills .skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills .skill h3 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

.skills .skill .level {
  width: 100%;
  height: 0.5rem;
  background: #ffffff;
  border-radius: 6px;
}

.skills .skill .level .level-bar {
  height: 100%;
  border-radius: 6px;
  background-color: #d159f3;
}

.about {
  padding: 2rem;
  width: 25%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.about h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.about .about-fact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about .about-fact p {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
}

.about .about-fact p.icon {
  font-size: 2rem;
}

@media (max-width: 1536px) {
  .skills {
    width: 40%;
  }

  .about {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .skills {
    width: 50%;
  }

  .about {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .skills {
    width: 60%;
  }

  .about {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .skills {
    width: 80%;
  }

  .about {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .skills {
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
  }

  .skills h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .skills .skill h3 {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .skills .skill .level {
    height: 0.45rem;
  }

  .about {
    padding-top: 1rem;
    width: 100%;
    gap: 0.5rem;
  }

  .about h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .about .about-fact p {
    font-size: 0.8rem;
  }

  .about .about-fact p.icon {
    font-size: 1.9rem;
  }
}

/*Project Section*/
.projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projects button {
  padding: 1rem 2rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 700;
  color: #000;
  transition-property: color fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.projects button:hover {
  color: #d159f3;
}

.projects h2 {
  margin-bottom: 2.2rem;
  font-size: 3.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000;
}

@media (max-width: 640px) {
  .projects {
    padding-bottom: 6rem;
  }

  .projects button {
    padding: 1rem 1rem;
  }

  .projects h2 {
    font-size: 3rem;
  }
}

/*Contact section*/
.contact {
  padding: 2rem 2rem;
  width: 30%;
  border-radius: 30px;
  background: #ffffff99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.contact h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.contact h2 span {
  font-size: 2.5rem;
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  height: 3rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 20px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  background-color: #eee;
}

.contact form input:focus,
.contact form textarea:focus {
  border: 2px solid #aaa;
}

.contact form textarea {
  height: 10rem;
  resize: none;
}

.contact form .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.contact form button {
  padding: 0.9rem 2.5rem;
  border: none;
  outline: none;
  background-color: #d159f3;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.contact form button:hover {
  transform: scale(1.05);
}

.contact form button:active {
  transform: scale(0.95);
}

.contact .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.contact .socials a {
  font-size: 2rem;
  color: #fff;
  transition-property: color, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .socials a:hover {
  color: #d159f3;
  transform: scale(1.05);
}

@media (max-width: 1536px) {
  .contact {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .contact {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .contact {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .contact {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .contact {
    padding: 2rem 1rem;
    width: 100%;
    border-radius: 25px;
    gap: 1rem;
  }

  .contact h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .contact h2 span {
    font-size: 2rem;
  }

  .contact form {
    gap: 1rem;
  }

  .contact form button {
    padding: 0.9rem 2rem;
    border-radius: 18px;
    font-size: 1rem;
  }

  .contact .socials {
    gap: 1rem;
  }

  .contact .socials a {
    font-size: 1.9rem;
  }
}
